body {
	background: #eeeeee;
	font-family: tahoma, verdana, sans serif;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
body{
  background-color: aqua;
}

section{
  margin-bottom: 1rem;
}



sw-nav{
  padding-bottom:500px;
}